---
- name: Check if {{ project }} project exists
  uri:
    url: http://gerrit:8080/projects/{{ project }}
    status_code: 200, 404
  register: project_check
- name: Create {{ project }}
  when: project_check.status==404
  block:
    - name: Create temp dir for {{ project }} creation
      tempfile:
        state: directory
      register: project_tmp
    - name: Create {{ project }} project in Gerrit
      uri:
        url: http://gerrit:8080/a/projects/{{ project }}
        method: PUT
        user: admin
        password: secret
        status_code: 201
    - name: Create initial commit in {{ project }}
      shell:
        executable: /bin/sh
        chdir: "{{ project_tmp.path }}"
        cmd: |
          git init .
          git config user.name "Admin"
          git config user.email "admin@example.com"
          cat >.gitreview <<EOF
          [gerrit]
          host=localhost
          port=29418
          project={{ project }}
          EOF
          project_dir=/var/projects/{{ project }}
          if [ -d $project_dir ]; then
            cp -rf $project_dir/* .
          fi
          cat >zuul.yaml <<EOF
          - project:
            check:
              jobs: []
          EOF
          git add -A
          git commit -m "Initial commit"
          git remote add gerrit http://admin:secret@gerrit:8080/{{ project }}
          git push -f --set-upstream gerrit +HEAD:master

    - name: Create branches
      command: ssh -i /var/ssh/id_rsa -p 29418 admin@gerrit gerrit create-branch {{ project }} {{ item }} master
      changed_when: true
      with_items: "{{ branches }}"
