- pipeline:
    name: check
    description: local pipelines
    manager: independent
    require: {}
    trigger: {}
    success: {}
    failure: {}
- pipeline:
    name: periodic
    description: local pipelines
    manager: independent
    require: {}
    trigger: {}
    success: {}
    failure: {}
