---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.1
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: flake8
        additional_dependencies:
          - hacking<1.2.0,>=1.1.0
      - id: check-yaml
        files: .*\.(yaml|yml)$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.15.0
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        types: [file, yaml]
        entry: yamllint --strict -f parsable
  - repo: https://github.com/ansible/ansible-lint
    rev: v4.1.0a0
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$
        entry: ansible-lint --force-color -vvv
        additional_dependencies:
          # Workaround for https://github.com/yaml/pyyaml/issues/297
          - pyyaml<5.0
