---
- hosts: subnodes
  vars:
    update_subnodes: true
    packages_list:
      - git
      - unbound
      - tmux
      - screen
      - vim
      - wget
      - "{% if ansible_python.version.major == 3 -%}python3-virtualenv{%-
          else -%}python-virtualenv{%- endif -%}"
  tasks:
    - name: Create /etc/nodepool directory
      file:
        path: /etc/nodepool
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: 0755
      become: true

    - name: Install repos (will be removed by toci_gate_test)
      package:
        name: "{{ item }}"
      with_items:
        - centos-release-openstack-queens
        - epel-release
      become: true

    - name: Install packages
      package:
        name: "{{ packages_list }}"
        state: latest
      become: true
      tags:
        # We really want to install latest
        - skip_ansible_lint

    - name: Scan SSH keys from subnodes
      shell: |
        for key in {{ hostvars[item].subnode_public_ip }} \
          {{ hostvars[item].subnode_private_ip }}; do
          if ! grep -q $key /etc/ssh/ssh_known_hosts ; then
            ssh-keyscan $key >> /etc/ssh/ssh_known_hosts
          fi
        done
      changed_when: true
      with_inventory_hostnames:
        - subnodes
      become: true

    - when: update_subnodes|bool
      block:

        - name: Update packages
          package:
            name: '*'
            state: latest
          become: true
          tags:
            # We really want to update
            - skip_ansible_lint

        - name: Reboot hosts
          shell: sleep 2 && shutdown -r now
          async: 1
          poll: 0
          ignore_errors: true
          become: true

        - name: Wait for provisioned hosts to become reachable
          delegate_to: localhost
          wait_for:
            host: "{{ subnode_public_ip }}"
            port: 22
            delay: 35
            sleep: 10
            state: started
            connect_timeout: 10
            timeout: 180
