---
- name: Create tmp dir to clone zuul-config
  tempfile:
    state: directory
  register: zuul_config

- name: Clone zuul-config project
  git:
    repo: ssh://admin@localhost:29418/zuul-config
    dest: "{{ zuul_config.path }}"

- name: Check if we already have the secret
  stat:
    path: "{{ zuul_config.path }}/zuul.d/tripleo_gerrit_key_secret.yaml"
  register: encrypted_key

- when: not encrypted_key.stat.exists
  block:
    - name: Download encryption tool
      get_url:
        url: https://raw.githubusercontent.com/{{
          "openstack-infra/zuul/master/tools/encrypt_secret.py"
          }}
        dest: "{{ install_path }}/encrypt_secret.py"
        mode: 0766
      register: encryption_tool
    - name: Encrypt tripleo gerrit key
      shell: |
        secrets={{ zuul_config.path }}/zuul.d/tripleo_gerrit_key_secret.yaml
        {{ encryption_tool.dest }} \
          --tenant tripleo-ci-reproducer \
          --infile {{ tripleo_ci_gerrit_key }} \
          --outfile $secrets\
          http://localhost:9000 zuul-config
        sed -i "s/<name>/tripleo_gerrit_ssh_key/" $secrets
        sed -i "s/<fieldname>/ssh_private_key/" $secrets
      changed_when: true

    - name: Push commit with secrets
      shell:
        chdir: "{{ zuul_config.path }}"
        cmd: |
          set -e
          git remote add gerrit http://admin:secret@localhost:8080/zuul-config
          git add zuul.d/tripleo_gerrit_key_secret.yaml
          git config user.name "admin"
          git commit -m "Add secrets"
          alias gerrit='ssh -p 29418 admin@localhost gerrit'
          git push -f --set-upstream gerrit +HEAD:master
          $(git rev-parse HEAD)
      changed_when: true
