---
- name: Create tmp dir to clone testproject
  tempfile:
    state: directory
  register: testproject

- name: Clone testproject project
  git:
    repo: ssh://admin@localhost:29418/test1
    dest: "{{ testproject.path }}"

- name: Dump zuul.yaml
  copy:
    content: |
      {{ zuul_yaml }}
    dest: "{{ testproject.path }}/zuul.yaml"
    mode: 0644

- name: Push zuul.yaml to launch job
  shell:
    executable: /bin/bash
    chdir: "{{ testproject.path }}"
    cmd: |
      set -e
      #FIXME: for centos7 the git version is too old for the local gerrit
      #       hooks so we get them from upstream
      mkdir -p .git/hooks/
      scp -p -P 29418 -i {{ ssh_path }}/{{ upstream_gerrit_key }} \
      {{ upstream_gerrit_user }}@review.opendev.org:hooks/commit-msg \
        .git/hooks/
      git config --local user.name Admin
      git config --local user.email admin@example.com
      git remote add gerrit ssh://admin@localhost:29418/test1
      if ! git rev-parse --verify {{ launch_job_branch }}; then
        git checkout -t origin/{{ launch_job_branch }}
      fi
      git add zuul.yaml
      git commit -m 'Add job to launch
      {% for review in depends_on %}
      Depends-On: {{ review }}
      {% endfor %}
      '
      git push origin HEAD:refs/for/{{ launch_job_branch }} 2>&1 | tee push.log
      grep "remote:.*http" push.log | awk '{print $2}' | tee url.txt
      sed "s/.*\/\([0-9]*\)$/\1/" url.txt| tee review.txt
      git rev-parse HEAD | tee commit.txt
      echo -n $(cat review.txt),1 | tee change.txt
  changed_when: true
  register: git_output

- name: Set facts about review
  set_fact:
    review: "{{ lookup('file', testproject.path + '/review.txt') }}"
    commit: "{{ lookup('file', testproject.path + '/commit.txt') }}"
    change: "{{ lookup('file', testproject.path + '/change.txt') }}"

- name: Point users at zuul and gerrit
  debug:
    msg: |
      As the job starts you can follow the progress by
      navigating to http://localhost:9000 or http://<ip>:9000

- name: Wait for job to start
  uri:
    url: http://localhost:9000/api/tenant/tripleo-ci-reproducer/status/change/{{ change }}
    method: GET
    return_content: true
    status_code: 200
    body_format: json
  register: zuul_status
  retries: "{{ zuul_job_retries | int }}"
  delay: 10
  until:
    - zuul_status.json | length != 0
    - zuul_status.json.0.jobs | length != 0
    - zuul_status.json.0.jobs.0.uuid
  changed_when: false

- name: Print stream command
  debug:
    msg: 'finger {{ zuul_status.json.0.jobs.0.uuid }}@localhost'

- name: Do autohold to have the nodes in case of job failure
  command: |
    docker-compose exec -T scheduler zuul autohold
      --project test1
      --tenant tripleo-ci-reproducer
      --job {{ zuul_status.json.0.jobs.0.name }}
      --reason reproducer_forensics
  args:
    chdir: ~/tripleo-ci-reproducer
  when: os_autohold_node
- name: Wait for job to finish
  uri:
    url: http://localhost:9000/api/tenant/tripleo-ci-reproducer/status/change/{{ change }}
    method: GET
    return_content: true
    status_code: 200
    body_format: json
  register: zuul_status
  # Three hours
  retries: 180
  # One minute
  delay: 60
  until: zuul_status.json | length == 0
  changed_when: false

- name: Get zuul builds
  uri:
    url: http://localhost:9000/api/tenant/tripleo-ci-reproducer/builds?change={{ change }}
    method: GET
    return_content: true
    status_code: 200
    body_format: json
  register: zuul_builds
  changed_when: false

- name: Show latest build
  debug:
    msg: "{{ zuul_builds.json.0 | to_nice_yaml }}"
  when: zuul_builds.json | length > 0

- name: Get gerrit info
  command: |
    ssh -p 29418 admin@localhost
      gerrit query --comments "commit:{{ commit }}"
  register: gerrit_info

- name: Print gerrit info
  debug:
    msg: "{{ gerrit_info.stdout }}"
