---
- name: Gather needed facts
  setup:
    gather_subset: "!min,processor,user_dir"

- name: Build zuul container
  when: build_zuul is defined
  vars:
    project:
      name: zuul
      repo: https://git.openstack.org/openstack-infra/zuul
      version: "{{ build_zuul.version }}"
      refspec: "{{ build_zuul.refspec }}"
  include_tasks: build-pbrx-container.yaml

- name: Build nodepool container
  when: build_nodepool is defined
  vars:
    project:
      name: nodepool
      repo: https://git.openstack.org/openstack-infra/nodepool
      version: "{{ build_nodepool.version }}"
      refspec: "{{ build_nodepool.refspec }}"
  include_tasks: build-pbrx-container.yaml

- name: Install and start reproducer
  block:
    - name: Install it
      include_tasks: install.yaml
      register: install_task

    - when: install_task.changed
      name: Start it
      include_tasks: start.yaml
    - name: Add gerrit localhost to known_hosts
      known_hosts:
        name: "[localhost]:29418"
        key: "{{ lookup('pipe', 'ssh-keyscan
          -t ecdsa-sha2-nistp256 -p 29418 localhost') }}"
    - name: Check if we have a gerrit key for tripleo
      stat:
        path: "{{ tripleo_ci_gerrit_key }}"
      register: gerrit_key
    - when: gerrit_key.stat.exists
      name: Encrypt gerrit key
      include_tasks: encrypt-gerrit-key.yaml

  when: state == "present"

- name: stop reproducer
  block:
    - name: Stop it
      include_tasks: stop.yaml
  when: state == "absent"
