---
- name: Check if reproducer is installed
  stat:
    path: "{{ install_path }}"
  register: reproducer_path

- name: Stop zuul and friends
  docker_service:
    project_src: "{{ install_path }}"
    state: absent
    remove_volumes: true
  when:
    - reproducer_path.stat.exists and reproducer_path.stat.isdir
    - container_mode == 'docker'


- name: Stop up zuul and friends
  #become: true
  command: "{{ install_path }}/tripleo-ci-reproducer.sh --stop"
  ignore_errors: true
  when:
    - reproducer_path.stat.exists and reproducer_path.stat.isdir
    - container_mode == 'podman'
