---
- hosts: primary
  vars:
    docker_compose_cli: '~/.local/bin/docker-compose'
  tasks:
    - name: Ensure reproducer dir is there
      file:
        path: "{{ ansible_user_dir }}/tripleo-ci-reproducer"
        state: directory

    - name: Get podman system info
      become: true
      shell: |
        {{ container_mode }} --version > {{ container_mode }}.system.log 2>&1
        {{ container_mode }} system info >> {{ container_mode }}.system.log 2>&1
        {{ container_mode }} ps -a 2>&1 > {{ container_mode }}.ps.log
      args:
        chdir: "{{ ansible_user_dir }}/tripleo-ci-reproducer"
      changed_when: true
      ignore_errors: true

    - name: Get reproducer services logs
      become: "{{ true if container_mode == 'podman' else false }}"
      shell: >-
        {{ container_mode if container_mode == 'podman' else docker_compose_cli }}
        logs {{ item }} 2>&1 > {{ item }}.log
      args:
        chdir: "{{ ansible_user_dir }}/tripleo-ci-reproducer"
      changed_when: true
      ignore_errors: true
      with_items:
        - zk
        - mariadb
        - gerrit
        - logs
        - launcher
        - gerritconfig
        - scheduler
        - web
        - executor
        - fingergw

    - name: Get reproducer mergers logs
      become: "{{ true if container_mode == 'podman' else false }}"
      shell: >-
        {{ container_mode if container_mode == 'podman' else docker_compose_cli }}
        logs {{ item }} 2>&1 > {{ item }}.log
      args:
        chdir: "{{ ansible_user_dir }}/tripleo-ci-reproducer"
      changed_when: true
      ignore_errors: true
      with_sequence: |
        start=0 count={{ ansible_processor_vcpus }} format='merger%d'

    - name: Shut down reproducer
      become: true
      command: "{{ ansible_user_dir }}/tripleo-ci-reproducer/tripleo-ci-reproducer.sh --stop"
      changed_when: true
      ignore_errors: true
      when: container_mode == 'podman'

    - name: Shut down docker-compose
      command: "{{ docker_compose_cli }} down -v"
      args:
        chdir: "{{ ansible_user_dir }}/tripleo-ci-reproducer"
      changed_when: true
      when: container_mode == 'docker'

    - name: Dump journalctl
      become: true
      shell: |
        journalctl 2>&1 > journald.log
        chown {{ ansible_user }} journald.log
      args:
        chdir: "{{ ansible_user_dir }}/tripleo-ci-reproducer"
      changed_when: true

    - name: Get general system info
      become: true
      shell: |
        dnf list installed > rpms.log || yum list installed > rpms.log
        free -m > system.log
        pip freeze > pip.log
      args:
        chdir: "{{ ansible_user_dir }}/tripleo-ci-reproducer"
      changed_when: false
      ignore_errors: true

    - name: Get local pip info
      shell: pip freeze > pip-user.log
      changed_when: true

    - name: Copy files from reproducer on node to log
      become: true
      synchronize:
        src: '{{ ansible_user_dir }}/tripleo-ci-reproducer/'
        dest: '{{ zuul.executor.log_root }}/tripleo-ci-reproducer/'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - "--chown={{ ansible_user }}:{{ ansible_user }}"
          - "--exclude=secrets.env"
          - "--exclude=*.qcow2"
          - "--exclude=playbooks/rdo_config_repo"
          - "--exclude=playbooks/zuul_config_repo"

    - name: Copy files from user dir to log
      become: true
      synchronize:
        src: '{{ ansible_user_dir }}/tripleo-ci-reproducer/logs/'
        dest: '{{ zuul.executor.log_root }}/tripleo-ci-reproducer/'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - "--chown={{ ansible_user }}:{{ ansible_user }}"
      failed_when: false
      no_log: true

    - name: Copy job logs from user dir to log
      synchronize:
        src: '{{ ansible_user_dir }}/ci-job.yaml'
        dest: '{{ zuul.executor.log_root }}/tripleo-ci-reproducer/'
        mode: pull
        copy_links: true
        verify_host: true

    - name: Copy files from /etc
      become: true
      synchronize:
        src: '/etc/'
        dest: '{{ zuul.executor.log_root }}/etc/'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - "--chown={{ ansible_user }}:{{ ansible_user }}"
          - "--include=*mirror*"
          - "--include=*yum*"
          - "--include=*yum/*"
          - "--include=*yum.repos.d/*"
          - "--include=*ci/*"
          - "--include=*dnf*"
          - "--include=*dnf/*"
          - "--include=*pip*"
          - "--include=*journal*"
          - "--include=*containers/*"
          - "--include=*docker*"
          - "--include=*docker/*"
          - "--include=*libvirt/*"
          - "--include=*qemu/*"
          - "--exclude=*"

    - name: Copy containers config
      become: true
      ignore_errors: true
      synchronize:
        src: '/usr/share/containers/'
        dest: '{{ zuul.executor.log_root }}/usr/share/containers/'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - "--chown={{ ansible_user }}:{{ ansible_user }}"


    - name: Copy libvirtd debug log if exists
      become: true
      synchronize:
        src: '/tmp/libvirtd.log'
        dest: '{{ zuul.executor.log_root }}/tripleo-ci-reproducer/libvirtd-debug.log'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - "--chown={{ ansible_user }}:{{ ansible_user }}"
      ignore_errors: true

    - name: Copy files from /var/log
      become: true
      synchronize:
        src: '/var/log/'
        dest: '{{ zuul.executor.log_root }}/var_log/'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - "--chown={{ ansible_user }}:{{ ansible_user }}"
          - "--exclude=journal/*"
      ignore_errors: true
