---
- hosts: primary
  tasks:
    - name: Gather needed facts
      setup:
        gather_subset: "!min,user_dir,distribution"
      when:
        - ansible_user_dir is not defined
        - ansible_distribution is not defined
    - name: Check if pip exists
      shell: command -v pip >/dev/null 2>&1
      register: is_pip_exist
      changed_when: false
      ingore_errors: true
    - when: is_ls_exist.rc == 0
      name: Install pip if is not there
      become: true
      block:
        - when: ansible_distribution == "CentOS"
          name: Install EPEL
          package:
            name: epel-release
        - name: Install package dependencies
          package:
            name: python2-pip
    - name: Install package dependencies
      become: true
      package:
        name:
          - "{{ docker_package | default('docker-1.13.1') }}"

    - name: Install python dependencies
      pip:
        name:
          - ansible==2.7.5
          - openstacksdk
          - docker
          - docker-compose
        extra_args: --user

    - name: Find out docker group name
      shell: grep docker /etc/group | cut -d":" -f1 | head -1
      register: docker_group
      changed_when: false

    - when: docker_group.stdout == ""
      block:
        - name: Create docker group
          become: true
          group:
            name: docker
            state: present
        - name: Storing new created docker group
          set_fact:
            docker_group:
              stdout: docker

    - name: Check if user is in docker group
      command: "groups {{ ansible_user }}"
      register: user_groups
      changed_when: false

    - when: "docker_group.stdout not in user_groups.stdout"
      block:
        - name: Add user to docker group
          become: true
          user:
            name: '{{ ansible_user }}'
            groups: '{{ docker_group.stdout }}'
            append: true
          register: groupadd

    - name: reset ssh connection to allow user changes to affect
      meta: reset_connection

    - name: Create docker configuration file
      become: true
      copy:
        content: |
          {
          "group": "{{ docker_group.stdout }}",
          }
        dest: /etc/docker/daemon.json
      register: docker_config

    - name: Reload docker if config was changed
      become: true
      service:
        name: docker
        state: reloaded
      when: docker_config is changed

    - name: Start and enable docker
      become: true
      service:
        name: docker
        state: started
        enabled: true
