---
- hosts: primary
  tasks:
    - name: Gather needed facts
      setup:
        gather_subset: "!min,user_dir,distribution"
      when:
        - ansible_user_dir is not defined
        - ansible_distribution is not defined
    - name: Check if pip is installed
      shell: command -v pip > /dev/null 2>&1
      ignore_errors: true
      changed_when: false
      register: pip_exists

    - when: pip_exists.rc != 0
      name: Install pip
      block:
        - when: ansible_distribution == "CentOS"
          name: Install EPEL
          become: true
          package:
            name: epel-release
        - name: Install pip
          become: true
          package:
            name:
              - python-pip

    - name: Install package dependencies
      become: true
      package:
        name:
          - "{{ docker_package | default('docker-1.13.1') }}"
          - "{{ netaddr_package | default('python-netaddr') }}"

    - name: Install python dependencies
      pip:
        name:
          - ansible==2.7.5
          - openstacksdk==0.13.0
          - docker==3.6.0
          - docker-compose==1.23.2
        extra_args: --user

    - name: Find out docker group name
      shell: grep docker /etc/group | cut -d":" -f1 | head -1
      register: docker_group
      changed_when: false

    - when: not docker_group.stdout
      block:
        - name: Create docker group
          become: true
          group:
            name: docker
            state: present
        - name: Storing new created docker group
          set_fact:
            docker_group:
              stdout: docker

    - name: Check if user is in docker group
      command: "groups {{ ansible_user }}"
      register: user_groups
      changed_when: false

    - when: "docker_group.stdout not in user_groups.stdout"
      block:
        - name: Add user to docker group
          become: true
          user:
            name: '{{ ansible_user }}'
            groups: '{{ docker_group.stdout }}'
            append: true
          register: groupadd

    - name: reset ssh connection to allow user changes to affect
      meta: reset_connection

    - name: Create docker configuration file
      become: true
      blockinfile:
        block: |
          {
          "group": "{{ docker_group.stdout }}",
          }
        dest: /etc/docker/daemon.json
        create: true
      register: docker_config

    - name: Reload docker if config was changed
      become: true
      service:
        name: docker
        state: reloaded
      when: docker_config is changed

    - name: Start and enable docker
      become: true
      service:
        name: docker
        state: started
        enabled: true
