---

# Zuul executor has some limitations that prevents from running the role
# directly there so we have to generate a playbook and run it at the
# node

- hosts: primary
  vars:
    repro_role_path: >-
      {{ ansible_user_dir }}/{{ zuul.projects[
        'review.rdoproject.org/rdo-infra/ansible-role-tripleo-ci-reproducer'
        ].src_dir }}
  tasks:
    - name: Create roles directory
      file:
        path: "{{ ansible_user_dir }}/roles"
        state: directory
    - name: Link role
      file:
        src: "{{ repro_role_path }}"
        dest: "{{ ansible_user_dir }}/roles/tripleo-ci-reproducer"
        state: link
    - name: Create reproducer playbook
      vars:
        reproducer_playbook:
          - hosts: localhost
            tasks:
              - name: Start {{ nodepool_provider }} reproducer
                vars:
                  nodepool_provider: "{{ nodepool_provider }}"
                  upstream_gerrit_user: "{{ upstream_gerrit_user }}"
                  upstream_gerrit_key: "{{ tripleo_gerrit_key_name }}"
                  rdo_gerrit_user: "{{ rdo_gerrit_user }}"
                  rdo_gerrit_key: "{{ tripleo_gerrit_key_name }}"
                  control_vcpu: 4
                  control_memory: 4096
                  zuul_yaml:
                    - job:
                        name: hello-reproducer
                    - project:
                        check:
                          jobs:
                            - hello-reproducer
                include_role:
                  name: tripleo-ci-reproducer
      copy:
        content: "{{ reproducer_playbook | to_nice_yaml }}"
        dest: "{{ ansible_user_dir }}/start.yaml"
    - name: Generate run script
      template:
        src: run.sh.j2
        dest: "{{ ansible_user_dir }}/run.sh"
        mode: 0755
    - name: Run reproducer
      command: "{{ ansible_user_dir }}/run.sh"
      changed_when: true
