---

# Zuul executor has some limitations that prevents from running the role
# directly there so we have to generate a playbook and run it at the
# node

- hosts: primary
  vars:
    repro_role_path: >-
      {{ ansible_user_dir }}/{{ zuul.projects[
        'review.rdoproject.org/rdo-infra/ansible-role-tripleo-ci-reproducer'
        ].src_dir }}
  tasks:
    - name: Use RDO docker registry at RDO cloud
      when: "'rdo-cloud' in nodepool.cloud"
      vars:
        mirror_fqdn: |
          mirror.{{ nodepool.region | lower }}.{{
            nodepool.cloud | lower }}.rdoproject.org
        docker_registry: http://{{ mirror_fqdn }}:8081/registry-1.docker/
      block:
        - name: Read docker daemon configuration
          become: true
          slurp:
            src: /etc/docker/daemon.json
          register: docker
        - name: Compose docker registry mirror config
          set_fact:
            mirrored_docker_registry: "{{
              docker.content | b64decode | from_json | combine({
                'registry-mirrors': [docker_registry]
            }) }}"
        - name: Write modified docker daemon config
          become: true
          copy:
            content: "{{ mirrored_docker_registry | to_nice_json }}"
            dest: /etc/docker/daemon.json
        - name: Reload docker to set mirrors
          become: true
          service:
            name: docker
            state: reloaded

    - name: Create roles directory
      file:
        path: "{{ ansible_user_dir }}/roles"
        state: directory
    - name: Link role
      file:
        src: "{{ repro_role_path }}"
        dest: "{{ ansible_user_dir }}/roles/tripleo-ci-reproducer"
        state: link
    - name: Generate reproducer playbook
      template:
        src: run.yaml.j2
        dest: "{{ ansible_user_dir }}/start.yaml"
    - name: just debug
      shell: |
        whoami
        pwd
        echo "Trying ls -lash ~/"
        ls -lash ~/ || true
        echo "Next ls {{ repro_role_path }}"
        ls -lash {{ repro_role_path }}  || true
        echo "ansible_user_dir = {{ ansible_user_dir }}"
        echo "repro_role_path = {{ repro_role_path }}"
        ls {{ repro_role_path }}/defaults/main.yaml || true
      register: debugout

    - name: print
      debug: msg="{{ debugout.stdout }}\n\n{{ debugout.stderr }}"

    - name: Load variables from defaults of tripleo-ci-reproducer
      include_vars: "{{ repro_role_path }}/defaults/main.yaml"
    - name: Generate standalone job config
      blockinfile:
        content: |
          {{ standalone_yaml|to_nice_yaml }}
        path: "{{ ansible_user_dir }}/standalone-job.yaml"
        create: true
    - name: Generate run script
      template:
        src: run.sh.j2
        dest: "{{ ansible_user_dir }}/run.sh"
        mode: 0755
    - name: Run reproducer
      command: "{{ ansible_user_dir }}/run.sh"
      changed_when: true
