#!/bin/bash -e

export ANSIBLE_LIBRARY="{{ ansible_user_dir }}/{{ zuul.projects['git.openstack.org/openstack/tripleo-quicksart'].src_dir }}/library"
export ANSIBLE_ROLES_PATH="{{ ansible_user_dir }}/{{ zuul.projects['git.openstack.org/openstack/tripleo-quicksart'].src_dir }}/roles/:{{ ansible_user_dir }}/{{ zuul.projects['git.openstack.org/openstack/tripleo-quicksart-extras'].src_dir }}/roles"

ansible-playbook -vv {{ ansible_user_dir }}/start.yaml
