---
- hosts: localhost
  tasks:

    - name: Start {{ nodepool_provider }} reproducer
      vars:
        container_mode: "{{ container_mode }}"
        nodepool_provider: "{{ nodepool_provider }}"
        upstream_gerrit_user: "{{ upstream_gerrit_user }}"
        upstream_gerrit_key: "{{ tripleo_gerrit_key_name }}"
        rdo_gerrit_user: "{{ rdo_gerrit_user }}"
        rdo_gerrit_key: "{{ tripleo_gerrit_key_name }}"
        os_cloud_name: "{{ os_cloud_name | default('rdo-cloud') }}"
        os_autohold_node: "{{ os_autohold_node | default(true) }}"
        os_nodepool_name: "reproducer-ci-{{ range(1, 100) | random }}"
        os_flavor_name: "{{ job.flavor_name | default('m1.large') }}"
        os_centos7_image: upstream-cloudinit-centos-7-new
        os_centos8_image: upstream-cloudinit-centos-8-new
        control_vcpu: 4
        control_memory: 4096
        mirror_fqdn: "{{ mirror_fqdn }}"
        zuul_site_mirror_fqdn: "{{ zuul_site_mirror_fqdn | default(mirror_fqdn) }}"
        pypi_fqdn: "{{ pypi_fqdn | default(mirror_fqdn) }}"
        {% if package_mirror is defined -%}
        package_mirror: "{{  package_mirror }}"
        {% endif -%}
        depends_on: "{{ '{{' }} zuul['items'] |
          rejectattr('project.name', 'match', 'rdo-infra/ansible-role-tripleo-ci-reproducer') |
          map(attribute='change_url') | list {{ '}}' }}"
      include_role:
        name: tripleo-ci-reproducer
    - name: Get zuul builds
      uri:
        url: http://localhost:9000/api/tenant/tripleo-ci-reproducer/builds
        method: GET
        return_content: true
        status_code: 200
        body_format: json
      register: zuul_builds
      changed_when: false

    - name: Check that we have a build and it's a success
      fail:
        msg: "Build was not executed or a failure: {{ '{{' }}
          zuul_builds.json | default({}) | to_nice_yaml {{ '}}' }}"
      when: zuul_builds.json | length == 0 or
            zuul_builds.json.0.result != "SUCCESS"
