#!/bin/bash -ex

tq={{ ansible_user_dir }}/{{ zuul.projects['git.openstack.org/openstack/tripleo-quickstart'].src_dir }}

if [ -d "$tq" ]; then
    export ANSIBLE_LIBRARY="${tq}/library"
    export ANSIBLE_ROLES_PATH="${tq}/roles"
fi

export ANSIBLE_STDOUT_CALLBACK=debug

# To be able to use stuff installed with pip --user
# At zuul images we don't have any .bash_profile or .profile
export=$PATH:$HOME/.local/bin

ansible-playbook -vv ~/start.yaml
