---
- name: Complete zuul-config from RDO config
  git:
    repo: 'https://github.com/rdo-infra/review.rdoproject.org-config.git'
    dest: rdo_config_repo
    update: false
    version: master

- name: Complete zuul-config from RDO config
  git:
    repo: 'http://gerrit:8080/zuul-config'
    dest: zuul_config_repo
    update: false
    version: master

- name: Execute script
  shell: |
    echo "Removing secrets";
    for i in $(grep "secrets:" -r -l .); do
    echo $i;
    python ../zuul_config_repo/remove_secrets.py $i;
    done;
    echo "Replacing config repo name";
    for i in $(grep "review.rdoproject.org/config" -r -l .); do
    echo $i;
    sed -i "s@review.rdoproject.org/config@gerrit/zuul-config@g" $i;
    done;
  args:
    chdir: rdo_config_repo
  tags:
    - skip_ansible_lint

- name: Copy files from RDO config repo to zuul-config
  shell: >-
    cp -RT rdo_config_repo/{{ item }} zuul_config_repo/{{ item }}
  with_items:
    - ci-scripts
    - roles
    - playbooks/tripleo-rdo-base
    - playbooks/tripleo-ci-reproducer-base
    - playbooks/tripleo-ci-periodic-base
    - playbooks/tripleo-ci-periodic-base-upload
    - playbooks/tripleo-ci-base-promote-consistent-to-tripleo-ci-testing
    - zuul.d/tripleo-rdo-base.yaml
    - zuul.d/tripleoci.yaml
  tags:
    - skip_ansible_lint

- name: Complete zuul-config from TripleO CI config
  git:
    repo: 'https://opendev.org/openstack/tripleo-ci.git'
    dest: tripleo_config_repo
    update: false
    version: master

- name: Copy files from TripleO CI config repo to zuul-config
  shell: >-
    rsync -avx tripleo_config_repo/{{ item }} zuul_config_repo
  with_items:
    - roles
    - playbooks
    - zuul.d
  tags:
    - skip_ansible_lint

- name: Commit and push to zuul-config repo
  shell: |
    git config user.name "Admin"
    git config user.email "admin@example.com"
    git add *
    git commit -m "Add RDO & TripleO CI config repo files"
    git remote add gerrit http://admin:secret@gerrit:8080/zuul-config
    git push -f --set-upstream gerrit +HEAD:master
  args:
    chdir: zuul_config_repo
  tags:
    - skip_ansible_lint
