version: '3.5'

services:
  gerrit:
    image: "{{ gerrit_image }}"
    ports:
      - "8080:8080"
      - "29418:29418"
    command: |
      /bin/sh -c '\
        git config -f /var/gerrit/etc/gerrit.config gerrit.canonicalWebUrl http://localhost:8080/ && \
        git config -f /var/gerrit/etc/gerrit.config gerrit.ui POLYGERRIT && \
        git config -f /var/gerrit/etc/gerrit.config sendemail.enable false && \
        git config -f /var/gerrit/etc/gerrit.config noteDb.changes.autoMigrate true && \
        /var/gerrit/bin/gerrit.sh run'
  gerritconfig:
    image: "{{ zuul_image }}"
    environment:
      no_proxy: "${no_proxy},gerrit"
    depends_on:
      - gerrit
    volumes:
      - "./playbooks/:/usr/src/:z"
      - "./projects/:/var/projects/:z"
    env_file: secrets.env
    command: |
      /bin/sh -c '\
        pip install ansible &&
        ansible-playbook -vv \
            /usr/src/inject-ssh-keys.yaml \
            /usr/src/setup-gerrit.yaml'
  zk:
    image: "{{ zk_image }}"
  mysql:
    image: "{{ mariadb_image }}"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: zuul
      MYSQL_USER: zuul
      MYSQL_PASSWORD: secret
  scheduler:
    depends_on:
      - gerritconfig
      - zk
      - mysql
    environment:
      no_proxy: "${no_proxy},gerrit"
    command: |
        sh -c '\
          pip install ansible && \
          cd /usr/src/ && \
          ansible-playbook -vv \
            inject-ssh-keys.yaml \
            wait-gerrit.yaml \
            add-gerrit-host-keys.yaml; \
            zuul-scheduler -d'
    image: "{{ zuul_scheduler_image }}"
    volumes:
      - "./etc_zuul/:/etc/zuul/:z"
      - "./playbooks/:/usr/src/:z"
      - /var/lib/zuul
      - "./projects:/var/projects/:z"
    env_file: secrets.env
  web:
    command: |
        sh -c '\
          pip install ansible && \
          cd /usr/src/ && \
          ansible-playbook -vv wait-mysql.yaml; zuul-web -d'
    depends_on:
      - scheduler
      - mysql
    ports:
      - "9000:9000"
    image: "{{ zuul_web_image }}"
    volumes:
      - "./etc_zuul/:/etc/zuul/:z"
      - "./playbooks/:/usr/src/:z"
  executor:
    privileged: true
    environment:
      no_proxy: "${no_proxy},gerrit"
    command: "sh -c 'cd /usr/src/; pip install ansible; ansible-playbook -vv inject-ssh-keys.yaml wait-gerrit.yaml add-gerrit-host-keys.yaml && zuul-executor -d'"
    depends_on:
      - scheduler
    image: "{{ zuul_executor_image }}"
    sysctls:
      net.ipv4.tcp_keepalive_time: 600
      net.ipv4.tcp_keepalive_intvl: 75
      net.ipv4.tcp_keepalive_probes: 9
    volumes:
      - "./etc_zuul/:/etc/zuul/:z"
      - "./playbooks/:/usr/src/:z"
      - "{{ logs_path }}:/srv/static/logs:z"
      - "./projects:/projects/:z"
    env_file: secrets.env

  fingergw:
    environment:
      no_proxy: "${no_proxy}"
    command: "zuul-fingergw -d"
    depends_on:
      - executor
    image: "{{ zuul_fingergw_image }}"
    volumes:
      - "./etc_zuul/:/etc/zuul/:z"
      - /var/lib/zuul
    ports:
      - "79:79"

  launcher:
    command: "nodepool-launcher -d -l /etc/nodepool/launcher-logging.yaml"
    depends_on:
      - zk
    image: "{{ nodepool_launcher_image }}"
    volumes:
      - "./etc_nodepool/:/etc/nodepool/:z"
      - "~/.config/openstack/:/etc/openstack/:z"
      - "./etc/pki/:/etc/pki/:z"
    ports:
      - "8022:8022"
      - "8005:8005"
    environment:
      - REQUESTS_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt
  logs:
    image: "{{ logs_image }}"
    ports:
      - "8000:80"
    volumes:
      - "{{ logs_path }}:/usr/local/apache2/htdocs:z"
      - "./httpd.conf:/usr/local/apache2/conf/httpd.conf:z"

{% for i in range(mergers) %}
  merger{{ i }}:
    environment:
      no_proxy: "${no_proxy},gerrit"
    command: |
        sh -c ' cd /usr/src/; \
            pip install ansible && \
            ansible-playbook \
                inject-ssh-keys.yaml \
                wait-gerrit.yaml \
                add-gerrit-host-keys.yaml && \
            zuul-merger -d'
    depends_on:
      - scheduler
    image: "{{ zuul_merger_image }}"
    env_file: secrets.env
    volumes:
      - "./etc_zuul/:/etc/zuul/:z"
      - "{{ logs_path }}:/srv/static/logs:z"
      - "./playbooks:/usr/src:z"

{% endfor %}
