- tenant:
    name: tripleo-ci-reproducer
    max-job-timeout: -1 # not limited
    max-nodes-per-job: -1 # not limited
    source:
      gerrit:
        config-projects:
          - zuul-config
        untrusted-projects:
          - test1
          - test2
      opendev.org:
        untrusted-projects:
          - exclude:
            - pipeline
            - job
            - semaphore
            - project
            - project-template
            - nodeset
            - secret
            projects:
            - openstack/project-config
            {%- if full_repos_set|default(false)|bool %}
          - exclude:
            - project
            - project-template
            - job
            projects:
            - openstack/cinder
            - openstack/heat-agents
            - openstack/instack-undercloud
            - openstack/ironic
            - openstack/ironic-python-agent
            - openstack/ironic-python-agent-builder
            - openstack/keystone
            - openstack/magnum
            - openstack/masakari
            - openstack/neutron
            - openstack/neutron-fwaas
            - openstack/nova
            - openstack/octavia
            - openstack/os-client-config
            - openstack/designate
            - openstack/glance
            - openstack/heat
            - openstack/keystoneauth
            - openstack/kolla-ansible
            - openstack/python-magnumclient
            - openstack/senlin
            {%- endif %}

          - exclude:
            - project
            - project-template
            projects:
            - opendev/base-jobs
            - openstack/ansible-collections-openstack
            - openstack/ansible-config_template
            - openstack/ansible-role-collect-logs
            - openstack/ansible-role-container-registry
            - openstack/ansible-role-python_venv_build
            - openstack/ansible-role-tripleo-modify-image
            - openstack/devstack
            - openstack/diskimage-builder
            - openstack/kolla
            - openstack/openstack-ansible-os_tempest
            - openstack/openstack-tempest-skiplist
            - openstack/openstack-virtual-baremetal
            - openstack/openstack-zuul-jobs
            - openstack/openstacksdk
            - openstack/paunch
            - openstack/puppet-tripleo
            - openstack/python-tripleoclient
            - openstack/requirements
            - openstack/tripleo-ansible
            - openstack/tripleo-ci
            - openstack/tripleo-common
            - openstack/tripleo-ha-utils
            - openstack/tripleo-heat-templates
            - openstack/tripleo-image-elements
            - openstack/tripleo-operator-ansible
            - openstack/tripleo-puppet-elements
            - openstack/tripleo-quickstart
            - openstack/tripleo-quickstart-extras
            - openstack/tripleo-repos
            - openstack/tripleo-upgrade
            - x/browbeat
            - zuul/zuul-base-jobs
            - zuul/zuul-jobs

      rdoproject.org:
        untrusted-projects:
          - exclude:
            - project
            - project-template
            projects:
            - rdo-jobs
            - rdo-infra/ci-config
            - rdo-infra/ansible-role-tripleo-ci-reproducer
            - rdo-infra/ansible-role-tripleo-ci-zuul-runner
            - rdoinfo
