- tenant:
    name: tripleo-ci-reproducer
    max-job-timeout: -1 # not limited
    max-nodes-per-job: -1 # not limited
    source:
      gerrit:
        config-projects:
          - zuul-config
        untrusted-projects:
          - test1
          - test2
      opendev.org:
        untrusted-projects:
          - exclude:
            - pipeline
            - job
            - semaphore
            - project
            - project-template
            - nodeset
            - secret
            projects:
            - openstack/project-config
          - exclude:
            - project
            - project-template
            - job
            projects:
            - openstack/openstack-zuul-jobs
          - exclude:
            - project
            - project-template
            projects:
            - zuul/zuul-jobs
            - openstack/tripleo-ci
            - openstack/tripleo-quickstart
            - openstack/tripleo-quickstart-extras
            - openstack/tripleo-upgrade
            - x/browbeat
            - openstack/tripleo-ha-utils
            - openstack/tripleo-heat-templates
            - openstack/openstack-virtual-baremetal
            - openstack/openstack-ansible-os_tempest
            - openstack/ansible-role-python_venv_build
            - openstack/ansible-config_template
            - openstack/tripleo-common
            - openstack/paunch
            - openstack/puppet-tripleo
            - openstack/python-tripleoclient
            - openstack/requirements
            - openstack/ansible-role-container-registry
            - openstack/kolla
            - openstack/tripleo-repos
            - openstack/ansible-role-collect-logs
      rdoproject.org:
        untrusted-projects:
          - exclude:
            - project
            - project-template
            projects:
            - rdo-jobs
            - rdo-infra/ci-config
            - rdo-infra/ansible-role-tripleo-ci-reproducer
            - rdoinfo
