---
zookeeper-servers:
  - host: zk

labels:
  - name: centos-7
  - name: tripleo-ovb-centos-7
  - name: rhel-8
  - name: centos-8

providers:
  - name: static-{{ nodepool_provider }}
    driver: static
    pools:
      - name: main
        nodes:
{% for subnode in groups['subnodes'] %}
          - name: {{ hostvars[subnode].ansible_host }}
            labels:
                - centos-7
                - tripleo-ovb-centos-7
                - rhel-8
                - centos-8
            host-key: "{{ lookup('pipe', 'ssh-keyscan -t ed25519 ' + hostvars[subnode].ansible_host ).split(" ", 1)[1] }}"
            username: zuul
            python-path: auto
{% endfor %}
