---
zookeeper-servers:
  - host: zk

{% set extra_nodes_count = groups['subnodes'] | length %}
labels:
  - name: centos-7
    subnodes: {% if extra_nodes_count > 0 %}{{ extra_nodes_count - 1 }}{% else %}0{% endif %}
  - name: fedora-28
    subnodes: {% if extra_nodes_count > 0 %}{{ extra_nodes_count - 1 }}{% else %}0{% endif %}
  - name: tripleo-ovb-centos-7
    subnodes: {% if extra_nodes_count > 0 %}{{ extra_nodes_count - 1 }}{% else %}0{% endif %}
  - name: rhel-8
    subnodes: {% if extra_nodes_count > 0 %}{{ extra_nodes_count - 1 }}{% else %}0{% endif %}

providers:
  - name: static-{{ nodepool_provider }}
    driver: static
    pools:
      - name: main
        nodes:
{% for subnode in groups['subnodes'] %}
          - name: {{ hostvars[subnode].ansible_host }}
            labels:
                - fedora-28
                - centos-7
                - tripleo-ovb-centos-7
                - rhel-8
            host-key: "{{ lookup('pipe', 'ssh-keyscan -t ed25519 ' + hostvars[subnode].ansible_host ).split(" ", 1)[1] }}"
            username: zuul
{% endfor %}
