---
zookeeper-servers:
  - host: zk

labels:
  - name: centos-7
  - name: fedora-28
  - name: tripleo-ovb-centos-7
  - name: upstream-rhel-8

providers:
  - name: {{ ansible_hostname }}-{{ os_cloud_name }}
    cloud: {{ os_cloud_name }}
    launch-retries: 3
    region-name: regionOne
    clean-floating-ips: {{ clean_floating_ips }}
    boot-timeout: 600
    rate: 0.25
    cloud-images:
      - name: centos-7
        config-drive: true
        image-name: {{ os_centos7_image }}
        username: zuul
        {% if ansible_python_interpreter is defined -%}
        python-path: "{{ ansible_python_interpreter }}"
        {% endif -%}
      - name: fedora-28
        config-drive: true
        image-name: {{ os_fedora28_image }}
        username: zuul
        {% if ansible_python_interpreter is defined -%}
        python-path: "{{ ansible_python_interpreter }}"
        {% endif -%}
      - name: cloud-rhel-8
        config-drive: true
        image-name: {{ os_rhel8_image }}
        username: zuul
        {% if ansible_python_interpreter is defined -%}
        python-path: "{{ ansible_python_interpreter }}"
        {% endif -%}
    pools:
      - name: main
        max-servers: 5
        networks:
          {% for net in cloud_networks -%}
          - {{ net }}
          {%- endfor %}

        labels:
          - name: centos-7
            min-ram: 8192
            flavor-name: 'm1.large'
            cloud-image: centos-7
            console-log: true
            {{ cloud_config_centos | indent(12) }}
          - name: tripleo-ovb-centos-7
            min-ram: 8192
            flavor-name: 'm1.large'
            cloud-image: centos-7
            console-log: true
            {{ cloud_config_centos_ovb | indent(12) }}
          - name: fedora-28
            min-ram: 8192
            flavor-name: 'm1.large'
            cloud-image: fedora-28
            console-log: true
            {{ cloud_config_fedora | indent(12) }}
          - name: upstream-rhel-8
            min-ram: 8192
            flavor-name: 'm1.large'
            cloud-image: cloud-rhel-8
            console-log: true
            {{ cloud_config_rhel8 | indent(12) }}
