---
zookeeper-servers:
  - host: zk

labels:
  - name: centos-7
  - name: tripleo-ovb-centos-7
  - name: rhel-8
  - name: centos-8
  - name: centos-8-stream
  - name: centos-9-stream

providers:
  - name: static-{{ nodepool_provider }}
    driver: static
    pools:
      - name: main
        nodes:
          - name: {{ ansible_default_ipv4.address }}
            labels:
                - centos-7
                - tripleo-ovb-centos-7
                - centos-8
                - centos-8-stream
                - centos-9-stream
            username: {{ ansible_user }}
            host-key-checking: false
            python-path: auto
