---
apiVersion: v1
kind: ConfigMap
metadata:
  name: secrets
  namespace: default
data:
  user_pri_key_name: >-
    {{ user_pri_key }}
  user_pri_key: >-
    {{ ssh_priv_key_b64 }}
  user_pub_key_name: >-
    {{ user_pub_key }}
  user_pub_key: >-
    {{ ssh_pub_key_b64 }}
  upstream_gerrit_key: >-
    {{ upstream_gerrit_key_b64 }}
  rdo_gerrit_key: >-
    {{ rdo_gerrit_key_b64 }}
