---
apiVersion: v1
kind: ConfigMap
metadata:
  name: secrets
  namespace: default
data:
  {{ user_pri_key }}: >-
    {{ id_rsa_b64 }}
  upstream_gerrit_key: >-
    {{ upstream_gerrit_key_b64 }}
  rdo_gerrit_key: >-
    {{ rdo_gerrit_key_b64 }}
