---
apiVersion: v1
kind: ConfigMap
metadata:
  name: secrets
  namespace: default
data:
  ssh_priv_key: >-
    {{ ssh_priv_key_b64 }}
  ssh_pub_key: >-
    {{ ssh_pub_key_b64 }}
  upstream_gerrit_key: >-
    {{ upstream_gerrit_key_b64 }}
  rdo_gerrit_key: >-
    {{ rdo_gerrit_key_b64 }}
