[gearman]
server=scheduler

[gearman_server]
start=true

[zookeeper]
hosts=zk

[scheduler]
tenant_config=/etc/zuul/main.yaml
log_config=/etc/zuul/scheduler-logging.yaml

[connection "opendev.org"]
name=opendev.org
driver=gerrit
server=review.opendev.org
canonical_hostname=opendev.org
gitweb_url_template=https://opendev.org/{project.name}/commit/{sha}
user={{ upstream_gerrit_user }}
sshkey=/var/ssh/upstream_gerrit_key

# Add your rdo user to gerrit stream group, e.g.:
# https://review.rdoproject.org/r/#/c/17581/
[connection "rdoproject.org"]
name=rdoproject.org
driver=gerrit
server=review.rdoproject.org
port=29418
baseurl=https://review.rdoproject.org/r
user={{ rdo_gerrit_user }}
sshkey=/var/ssh/rdo_gerrit_key

[connection "github.com"]
name=github.com
driver=git
baseurl=https://github.com

[connection "gerrit"]
name=gerrit
driver=gerrit
server=gerrit
sshkey=/var/ssh/{{ user_pri_key }}
user=zuul
password=secret
baseurl=http://gerrit:8080
auth_type=basic

[connection "mysql"]
name=mysql
driver=sql
dburi=mysql+pymysql://zuul:secret@mysql/zuul

[web]
listen_address=0.0.0.0
log_config=/etc/zuul/web-logging.yaml

[executor]
private_key_file=/var/ssh/{{ user_pri_key }}
default_username=zuul
trusted_rw_paths=/srv/static/logs
log_config=/etc/zuul/executor-logging.yaml
disk_limit_per_job=5000

[merger]
git_user_email="os-tripleo-ci@redhat.com"
git_user_name="Openstack Triple CI"
log_config=/etc/zuul/merger-logging.yaml

[fingergw]
user=root
log_config=/etc/zuul/fingergw-logging.yaml
